* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-image: url('../img/cart10.jpg');
    background-size: cover;
    color: white;
    margin: 0;
}

.header {
    background-color: #2c3e5098;
    padding: 5px;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 11px #e74c3c;
}

.header .logo {
    font-size: 24px;
    color: #e74c3c;
    font-weight: bold;
}

.header nav a {
    color: #3498db;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.header nav a:hover {
    color: #00b3ff;
    transition: all 0.3s ease;
    text-shadow: rgb(0, 242, 255) 0px 0px 5px ;
}

.cart-section {
    padding: 40px;
    
    min-height: 100vh;
}

.cart-section h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #3498db;
}

.cart-container {
    max-width: 1000px;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e5071;
    backdrop-filter: blur(3px);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 7px #e74c3c;
}

.cart-item:hover {
    background-color: #00274e90;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px #ffffff;
    transition: all 0.3s ease;
    transform: scale(1.02);
    filter: brightness(1.05);
    -webkit-filter: brightness(1.05);
    border-radius: 40px;
}

.cart-item img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 5px #f5f5f5;
}

.cart-item img:hover {
    box-shadow: 0 0 15px #e74c3c;
    filter: brightness (1.2);
    -webkit-filter: brightness(1.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.cart-item-info {
    flex-grow: 1;
    margin-left: 20px;
}

.cart-item-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #e74c3c;
}

.cart-item-info span {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #0099ff;
}

.cart-item-remove {
    align-self: flex-start;
}

.cart-item-remove .btn {
    background: #0099ff;
    color: #00ffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.cart-item-remove .btn:hover {
    background: #c0392b;
    color:aqua;
    box-shadow: 0 0 10px #c0392b;
    transition: all 0.3s ease;
}

.cart-total {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.cart-total h3 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #0099ff;
}

.cart-total .btn {
    background: #c0392b;
    color: #3acbff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.cart-total .btn:hover {
    background: #2980b9;
    color: #00ffff;
    box-shadow: 0 0 15px #38afff;
    transition: all 0.3s ease;
}

.footer {
    background-color: #2c3e5098;
    margin: 3px;
    text-align: center;
    color: #bdc3c7;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 8px #e74c3c;
    border-radius: 10px;
}

.footer p {
    font-size: 14px;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}
.footer:hover {
    color: #00b3ff;
    transition: all 0.3s ease;
    text-shadow: rgb(0, 242, 255) 0px 0px 5px ;
    background-color: #1a252f;
    box-shadow: 0 0 8px #ffeae8;
    transition: all 0.3s ease; 
}

body::selection {
    background-color: #ffffff;
    color: #8000ff;
}