* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0b0f24;
    background-image: url('../img/space4.jpg');
    color: #fff;
}

/* Header */
 .header {
     padding: 10px;
     position: fixed;
     width: 100%;
     background-color: #111633;
     display: flex;
     justify-content: space-between;
     align-items: center;
     top: 0;
     left: 0;
     z-index: 1000;
     backdrop-filter: blur(5px);
     box-shadow: 0 0px 15px rgba(0, 26, 255, 0.813);
 }

.logo {
    font-size: 28px;
    color: #a88fff;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #a88fff;
}

/* Courses Section */
.courses-section {
    padding: 50px 20px;
    text-align: center;
}

.courses-section h1 {
    font-size: 36px;
    color: #a88fff;
    margin-bottom: 40px;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Individual Course Item */
.course-item {
    background-color: #1c2340ca;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(168, 143, 255, 0.2);
    transition: transform 0.3s, box-shadow 0.5s;
}

.course-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 20px rgba(167, 143, 255, 0.85);
    background-color: #1b2551;
}

.course-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.course-item img:hover {
    box-shadow: 0 4px 50px #6c52f1;
    border: 3px solid #512eff;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

.course-info h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #d8cfff;
}

.course-info p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
}

.course-info span {
    display: block;
    font-weight: bold;
    color: #a88fff;
    margin-bottom: 15px;
}

/* Button Style */
.btn,
.course-item button {
    display: inline-block;
    background-color: #a88fff;
    color: #0b0f24;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover,
.course-item button:hover {
    background-color: #c4b3ff;
    box-shadow: 0 0px 15px #805dff;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #111633;
    margin-top: 60px;
    color: #888;
}

body::selection {
    background-color: #ffffff;
    color: #8000ff;
}