* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

/* Body */
body {
    background: url('../img/up3.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    padding: 0 20px;
}

/* Header */
.header {
        background-color: rgba(49, 49, 49, 0.628);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px #00ffff;
        z-index: 1000;
        backdrop-filter: blur(4px);
}

.header .logo {
    font-size: 26px;
    font-weight: bold;
    color: #00f1ff;
}

.header nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #00f1ff;
}

/* Dashboard Section */
.dashboard-section {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    background-color: rgba(49, 49, 49, 0.396);
    box-shadow: 0 0 10px #00ffff;
    z-index: 1000;
    backdrop-filter: blur(3px);
}

.dashboard-section h1 {
    font-size: 32px;
    color: #00f1ff;
    margin-bottom: 30px;
}

/* Form and Input Styles */
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #47f6ff76;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    border:none;
    border: 1px solid #00f1ff;
    color: #00bfff;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #00f1ff;
    background-color: rgba(0, 241, 255, 0.2);
}


/* Add space between labels and inputs */
form label {
    display: block;
    margin-bottom: 8px;
    color: #00f1ff;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00f1ff;
    color: #000;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 10px rgba(4, 229, 241, 0.809);
    margin-top: 20px;
}

.btn:hover {
    background-color: #15fbff;
    box-shadow: 0 4px 20px rgba(4, 229, 241, 0.809);
    transform: scale(1.05);
    transition: 0.3s ease;
    color: #00bfff;
}

/* Footer */
.footer {
    color: #ccc;
    background-color: rgba(49, 49, 49, 0.628);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #00ffff;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.footer:hover {
    background-color: rgba(0, 204, 255, 0.479);
    box-shadow: 0 0 25px #00ffff;
    transition: 0.3s;
    color: #00506a;
    text-shadow: 0 0 10px #ececec;
    backdrop-filter: blur(10px);
    border-radius: 35px;
}

body::selection {
    background-color: #ffffff;
    color: #8000ff;
}